In [23]:
student_data={'st1':{'name':'ramya','rollno':21,'ssc':10,'inter':983,'cgpa':9.29,'language':'python'},'st2':{'name':'Tejaswi','rollno':9,'ssc':10,'inter':997,'cgpa':9.5,'language':'java'},'st3':
             {'name':'nikitha','rollno':23,'ssc':10,'inter':987,'cgpa':9.3,'language':'python'}}
#for key1,value1 in student_data[input()].items():
       # print(key1,":",value1)
for key,value in student_data.items():
    print(key,"data is")
    for key1,value1 in student_data[key].items():
        print(key1,":",value1)
    print("- - - - - - ")

st1 data is
name : ramya
rollno : 21
ssc : 10
inter : 983
cgpa : 9.29
language : python
- - - - - -
st2 data is
name : Tejaswi
rollno : 9
ssc : 10
inter : 997
cgpa : 9.5
language : java
- - - - - -
st3 data is
name : nikitha
rollno : 23
ssc : 10
inter : 987
cgpa : 9.3
language : python
- - - - - -